.z-button {
  @apply flex box-border items-center h-8 leading-none text-center align-middle rounded border justify-center border-info_light_7;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  outline: none;
  appearance: none;
  use-select: none;
  transition: background-color 0.2s;
  > .z-button-slot {
    @apply align-middle w-4 h-4;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation-name: spin;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.z-button--primary {
  @apply bg-primary text-white border-primary;
  &:hover {
    @apply bg-primary_light_3 text-white;
  }
}

.z-button--plain {
  @apply bg-transparent text-zinc-900 border-info_light_3;
  &:hover {
    @apply bg-blue-500 text-white;
  }
}

.z-button--success {
  @apply bg-success text-white border-success_light_3;
  &:hover {
    @apply bg-success_light_3;
  }
}

.z-button--info {
  @apply bg-info text-white border-info;
  &:hover {
    @apply bg-info_light_3;
  }
}

.z-button--warning {
  @apply bg-wraning text-white border-wraning;
  &:hover {
    @apply bg-wraning_light_3;
  }
}

.z-button--danger {
  @apply bg-danger text-white border-danger;
  &:hover {
    @apply bg-danger_light_3;
  }
}
