.z-input{
  @apply inline-block border border-solid  border-slate-500 box-border;
  &:hover{
    @apply border-blue-600;
    animation-name: input-outline;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes  input-outline{
  0%{
    @apply outline-none;
  }
  30%{
    @apply outline-1 outline-blue-100 outline outline-offset-0;
  }
  70%{
    @apply outline-1 outline-blue-300 outline outline-offset-0;
  }
  100%{
    @apply outline-1 outline-blue-500 outline outline-offset-0;
  }
}
